* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}


#wrapper {
    height: 100vh;
}

#wrapper .title {
    color: #fff;
    width: 100%;
    background-color: #3498db;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    flex-direction: column;
}

.title span {
    font-size: 23px;
    font-weight: 500;
}

.title p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

#wrapper .list-task {
    min-height: 350px;
    max-height: calc(100vh - 130px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    font-size: 16px;
    margin-top: 65px;
    margin-bottom: 100px;
}

.list-task li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: rgb(229, 233, 233);
    border-radius: 5px;
    padding: 0px 15px;
    padding-right: 0px;
}

.btn-delete {
    height: 100%;
    display: flex;
    background-color: #3498db;
    color: #fff;
    border: none;
    outline: none;
    height: 100%;
    height: 45px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;

}

#wrapper .form-add {
    border-top: 1px solid #dcd5d5;
    height: 50px;
    display: flex;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-add input {
    width: 80%;
    height: 100%;
    padding: 15px;
    padding-left: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.form-add button {
    width: 20%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
}