* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}


#wrapper {
    height: 100vh;
}

#wrapper .title {
    color: #fff;
    width: 100%;
    background-color: #08a94b;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

#wrapper .list-task {
    min-height: 350px;
    max-height: calc(100vh - 130px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    font-size: 16px;
    margin-top: 65px;
    margin-bottom: 100px;
}

.list-task li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: rgb(229, 233, 233);
    border-radius: 5px;
    padding: 0px 15px;
    padding-right: 0px;
}

.btn-delete {
    height: 100%;
    display: flex;
    background-color: #08a94b;
    color: #fff;
    border: none;
    outline: none;
    height: 100%;
    padding: 10px 15px;
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;
}

#wrapper .form-add {
    border-top: 1px solid #dcd5d5;
    height: 50px;
    display: flex;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-add input {
    width: 80%;
    height: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.form-add button {
    width: 20%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #08a94b;
    color: #fff;
}











/* 
@media only screen and (max-width: 600px) {
    #wrapper {
        height: 100vh;
    }

    #wrapper .title {
        color: #333;
        width: 100%;
        border-bottom: 1px solid #f1ecec;
        background-color: #f1ecec;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
    }

    #wrapper .list-task {
        height: calc(100% - 50px);
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 80px;
        max-height: 736px;
        overflow: auto;
    }

    .list-task li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        background-color: rgb(195, 200, 205);
        border-radius: 5px;
        padding: 0px 10px;
    }

    #wrapper .form-add {
        border-top: 1px solid #dcd5d5;
        height: 50px;
        display: flex;
        background-color: #fff;
    }

    .form-add input {
        width: 80%;
        height: 100%;
        padding: 20px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    .form-add button {
        width: 20%;
        height: 100%;
        border: none;
        outline: none;
        background-color: rgb(57, 57, 230);
        color: #fff;
    }
} */